/* Global*/
* {
  border-radius: 0 !important;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #fff;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 99, 99);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 99, 99);
  border-color: #ff3838;
}

h1 {
  font-family: "Noto Sans", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #43464b;
  margin-bottom: 7rem;
}

.my-button {
  color: #fff;
  border-radius: 0;
  background: #ff3838;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.2rem;
}

.my-button:hover {
  color: #ff3838;
  border-radius: 0;
  background: #fff;
  border: 1px solid #ff3838;
  color: #ff3838;
}

.mynavbar {
  top: 2rem;
  left: 3rem;
  position: fixed;
  z-index: 3;
  cursor: pointer;
  transition: 0.5s;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #ff3838;
  transition: 0.5s;
}

.close {
  display: none;
  transform: rotate(180deg);
  transition: 0.5s;
}

.closeBtn .btn-line:nth-child(1) {
  width: 28px;
  margin: 0 0 5px 0;
  background: #ff3838;
  transition: 0.5s;
  transform: rotate(45deg) translate(-1px, -1px);
}

.closeBtn .btn-line:nth-child(2) {
  display: none;
}

.closeBtn .btn-line:nth-child(3) {
  width: 28px;
  margin: 0 0 5px 0;
  background: #ff3838;
  transition: 0.5s;
  transform: rotate(-45deg) translate(7px, -6px);
}

.shadow {
  -webkit-box-shadow: 0 10px 6px -6px rgb(88, 88, 88);
  -moz-box-shadow: 0 10px 6px -6px rgb(88, 88, 88);
  box-shadow: 0 12px 8px -8px rgb(88, 88, 88);
}

.output {
  transition: ease-in 0.5ms;
}

/* Sections */
section {
  padding: 5rem 2rem;
}

section h1 {
  margin-bottom: 2rem;
}

section p {
  margin-bottom: 5rem;
}

section h3 {
  font-size: 2.3rem;
}

.transition-up:hover {
  position: relative;
  transform: translate(0px, -25px);
  transition: ease-in 0.3s;
  -webkit-box-shadow: 0 10px 6px -6px rgb(22, 22, 22);
  -moz-box-shadow: 0 10px 6px -6px rgb(22, 22, 22);
  box-shadow: 0 12px 8px -8px rgb(22, 22, 22);
}

/* Side Bar */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 7rem;
  transition: width 0.7s;
}

.side-nav li,
.side-nav li a {
  padding: 0 1rem 1rem 1.3rem;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.side-nav li a:hover {
  color: #ff3838;
}

#main {
  transition: margin-left 0.5s;
  position: absolute;
  width: 100%;
}

/* Header */
#header-section h1::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #ff3838;
  position: relative;
  left: 50%;
  transform: translate(-50px, -25px);
}

#header-section {
  background: #f8f8f8;
}

#header-section h3 {
  margin-top: 2.5rem;
  color: #ff3838;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

#header-section h1 {
  font-weight: 900;
  font-size: 4rem;
}

/* Project section */
#project-section {
  border-bottom: 0.5px solid rgb(226, 210, 210);
}
/* Services Section */
#services-section .card-title {
  border-bottom: 0.5px solid rgb(226, 210, 210);
}

#services-section {
  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(195, 14, 14, 1) 35%,
    rgba(255, 56, 56, 1) 100%
  );
}

#services-section .card-body {
  background: #fff;
  transition: ease-out 0.3s;
}

#services-section h1 {
  padding-bottom: 1rem;
}

#services-section h3 {
  color: #fff;
}

/* Skills Section */
#skills-section {
  background: #f8f8f8;
  padding: 4rem 2rem 0 2rem !important;
}

/* Contact Section */
#contact-section {
  background: #ff3838;
}

#contact-section h3 {
  color: #fff;
  font-size: 2.3rem;
}

#contact-section h3::after {
  background: #fff;
}

#contact-section form {
  padding: 1.2rem 2rem;
  background: #fff;
  transition: ease-in 0.3s;
  width: 100%;
}

#contact-section .form-control {
  border-radius: 0;
  margin-bottom: 1rem;
  border: 1px solid #e0e4e7;
}

#contact-section button {
  width: 100%;
}

/* footer section */
#footer-section {
  border-top: 0.5px solid rgb(255, 99, 99);
  background: #ff3838;
  color: #fff;
  overflow: auto;
}

#footer-section h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

#footer-section .col-sm-6:last-child {
  float: right;
}

#footer-section .col-sm-6:first-child {
  float: left;
}

#footer-section .col-sm-6:last-child i:nth-child(3) {
  margin: 0 0.5rem;
}

#footer-section span {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
}

#footer-section .social-media {
  margin-left: 82.5%;
}

#footer-section a:hover {
  color: #fff;
  /* Make shadow */
}

/* Media Queries */
@media (max-width: 575.98px) {
  #header-section h1 {
    font-weight: 900;
    font-size: 3rem;
  }
  h3 {
    margin-bottom: 4rem;
  }
  section {
    padding: 3.5rem 1rem;
  }
  section p {
    margin-bottom: 2.5rem;
  }
  #skills-section .col-sm-3,
  #skills-section .col-sm-9 {
    text-align: center !important;
  }
  #footer-section h3,
  #footer-section p {
    margin: 0 auto;
    text-align: center;
  }

  #footer-section .social-media {
    margin: 1.2rem 0 1.2rem 39%;
  }
}
