.title::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #ff3838;
  position: relative;
  left: 50%;
  transform: translate(-45px, -100px);
}

.header {
  background: #e2e2e2;
}

.subTitle {
  color: #ff3838;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.title {
  font-weight: 600;
  font-size: 4rem;
}

.skills {
  color: #6e6e6e;
}
