.contact {
  background: #ff3838;
  padding: 5rem 0;
}

.title {
  color: #fff;
  font-size: 2.3rem;
}

.form {
  padding: 1.2rem 2rem;
  background: #fff;
  transition: ease-in 0.3s;
  width: 100%;
}

.control {
  border-radius: 0;
  margin-bottom: 1rem;
  border: 1px solid #e0e4e7;
}

.button {
  &:hover {
    color: #ff3838;
    border-radius: 0;
    background: #e2e2e2;
  }
}
